<!--Aside left-->
  <div>
    <h3>Ứng Dụng Quản Lý Sinh Viên</h3>
    <br>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/managestudents">Quản Lý Sinh Viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/managesubjects">Quản Lý Môn Học</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manageclasses">Quản Lý Lớp Học </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/managemark">Quản Lý Điểm</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Thống Kê </a>
      </li>
    </ul>
    <hr class="d-sm-none">
  </div>
