<!--Aside left-->
  <div>
    <div style="padding: 20px; background-size: cover;">
      <img src="../assets/img/student-hat.png" style="display:block; max-height: 250px; margin: 0 auto;">
    </div>
    <h3 style="text-align: center">Ứng Dụng Quản Lý Sinh Viên</h3>
    <br>
    <br>
    <ul class="nav nav-pills flex-column ">
      <li class="nav-item">
        <a class="nav-link stylebuttonleft active" routerLink="/managestudents">Quản Lý Sinh Viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/managesubjects">Quản Lý Môn Học</a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/manageclasses">Quản Lý Lớp Học </a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/managemark">Quản Lý Điểm</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/statistics">Thống Kê </a>
      </li>
    </ul>
    <hr class="d-sm-none">
  </div>
